

@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  h1 {
    text-align: center;
    font-size: 75px;
    font-family: 'Architects Daughter', cursive;
    padding-top: 3em;
  }
  h2 {
    text-align: center;
    font-size: 20px;
    font-family: 'Comforter Brush', sans-serif;
    padding-bottom: 17em;
  }

  body{
    margin: 1500;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    background: url('../images/space.jpg');
    -webkit-bacground-size: cover;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh;
    background-color: #647C90;
  }

  header{
    background-color: grey;
  }
  h1 {
    color: white;
  }
  h2 {
    color: white;
  }
  li{
    list-style: none;
  }
  
  a{
    color: white;
    text-decoration: none;
  }
  
  .navbar{
    min-height: 40px;
    font-size: 21px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    position: fixed;
    width: 100%;
    background-color: #647C90;
    opacity: 90%;
  }
  
  .nav-branding{
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1px;
    font-family: "Montserrat", sans-serif;
  }
  
  .nav-link{
    transition: 0.3s ease-out;
  }
  
  .navbar ul li a{
    text-decoration: none;
    color: #fff;
    padding: 10px 15px;
    display: block;
  }
  
  .navbar ul li:hover a {
    background: #34495a;
  }
  
  .navbar ul ul {
      position: fixed;
      padding: 0px 0px;
      min-width: 160px;
      display: none;
      top: auto;
      left: auto;
      background: #34495a;
  }
  
  .navbar ul li:hover>ul {
      display: block;
  }
  .navbar ul ul li:hover a {
      background: #262626;
  }
  .navbar ul ul li {
      position: relative;
  }
  

  .hamburger{
    display: none;
    cursor: pointer;
  }
  
  .bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    background-color: white;
  }
  
  @media(max-width:768px){
    .hamburger{
      display: block;
    }
  
    .hamburger.active .bar:nth-child(2){
      opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
      transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
      transform: translateY(-8px) rotate(-45deg);
    }
  
    .nav-menu{
      position: fixed;
      left: -100%;
      top: 70px;
      gap: 0;
      flex-direction: column;
      background-color: #262626;
      width: 100%;
      text-align: center;
      transition: 0.3s;
    }
  
    .nav-item{
      margin: 16px 0;
    }
  
    .nav-menu.active{
      left: 0;
    }
  }


