/*imports*/
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

/*general*/
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

h1 {
	font-size: 75px;
  color: white;
}

h2 {
	font-size: 20px;
  color: white;
}

h3 {
  color: pink;
}

body {
	margin: 0;
	padding: 0;
	font-family: "Montserrat", sans-serif;
	background-color: black;
}

/*nav bar*/
li {
	list-style: none;
}

a {
	color: white;
	text-decoration: none;
}

.navbar {
	min-height: 40px;
	font-size: 21px;
	overflow: hidden;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0px 20px;
	position: fixed;
	width: 100%;
	background-color: #647C90;
	opacity: 90%;
}

.nav-branding {
	font-size: 2rem;
	font-family: Arial, Helvetica, sans-serif;
}

.nav-menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 1px;
	font-family: "Montserrat", sans-serif;
}

.nav-link {
	transition: 0.3s ease-out;
}

.navbar ul li a {
	text-decoration: none;
	color: #fff;
	padding: 10px 15px;
	display: block;
}

.navbar ul li:hover a {
	background: #34495a;
}

.navbar ul ul {
	position: fixed;
	padding: 0px 0px;
	min-width: 160px;
	display: none;
	top: auto;
	left: auto;
	background: #34495a;
}

.navbar ul li:hover>ul {
	display: block;
}

.navbar ul ul li:hover a {
	background: #262626;
}

.navbar ul ul li {
	position: relative;
}

.hamburger {
	display: none;
	cursor: pointer;
}

.bar {
	display: block;
	width: 25px;
	height: 3px;
	margin: 5px auto;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
	background-color: white;
}

/*index*/
.front_page {
	background: url('../images/electric.gif');
	-webkit-bacground-size: cover;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	height: 110vh;
  position: static;
	text-align: center;
  font-family: 'Architects Daughter', cursive;
  font-style: italic;
  width: 100%;
  padding-top: 20%;
}

.pic_me {
	width: 400px;
	padding-top: 2em;
  padding-left: 3em;
  padding-right: 5em;
  padding-bottom: 0em;
  float: left;
}

.index_middle {
  padding: 1em;
  color: white;
  font-family: "Montserrat", sans-serif;
  
}
.hr {
  color: white;
  height: 5px;
  background-color: white;
  border: none;
  border-radius: 50px;
  width: 30em;
}


/* mobile version */
@media(max-width:768px) {
  .hr {
  width: 0em;
  }
  
  .pic_me {
	width: 400px;
  padding-left: 5em;
  padding-right: 5em;

  }

	.hamburger {
		display: block;
	}
	.hamburger.active .bar:nth-child(2) {
		opacity: 0;
	}
	.hamburger.active .bar:nth-child(1) {
		transform: translateY(8px) rotate(45deg);
	}
	.hamburger.active .bar:nth-child(3) {
		transform: translateY(-8px) rotate(-45deg);
	}
	.nav-menu {
		position: fixed;
		left: -100%;
		top: 70px;
		gap: 0;
		flex-direction: column;
		background-color: #262626;
		width: 100%;
		text-align: center;
		transition: 0.3s;
    padding-bottom: 100em;
	}
	.nav-item {
		margin: 16px 0;
	}
	.nav-menu.active {
		left: 0;
	}
}