/*imports*/
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&display=swap');

/*general*/
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

h1 {
	font-size: 65px;
  color: white;
  
}

h2 {
	font-size: 20px;
  color: white;
}

h3 {
  color: pink;
}

body {
	margin: 0;
	padding: 0;
	font-family: "Montserrat", sans-serif;
	background-color: black;
}


/*nav bar*/
li {
	list-style: none;
}

a {
	color: white;
	text-decoration: none;
}

.navbar {
	min-height: 40px;
	font-size: 21px;
	overflow: hidden;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0px 20px;
	position: fixed;
	width: 100%;
	background-color: #647C90;
	opacity: 90%;
}

.nav-branding {
	font-size: 2rem;
	font-family: Arial, Helvetica, sans-serif;
}

.nav-menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 1px;
	font-family: "Montserrat", sans-serif;
}

.nav-link {
	transition: 0.3s ease-out;
}

.navbar ul li a {
	text-decoration: none;
	color: #fff;
	padding: 10px 15px;
	display: block;
}

.navbar ul li:hover a {
	background: #34495a;
}

.navbar ul ul {
	position: fixed;
	padding: 0px 0px;
	min-width: 160px;
	display: none;
	top: auto;
	left: auto;
	background: #34495a;
  
}

.navbar ul li:hover>ul {
	display: block;
}

.navbar ul ul li:hover a {
	background: #262626;
}

.navbar ul ul li {
	position: relative;
}

.hamburger {
	display: none;
	cursor: pointer;
}

.bar {
	display: block;
	width: 25px;
	height: 3px;
	margin: 5px auto;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
	background-color: white;
}

/*index*/
.front_page {
	background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url('../images/electric.gif');
  background-attachment:fixed; /*parallax effect*/
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	height: 100vh;
  position: static;
	text-align: center;
  font-family: 'Architects Daughter', cursive;
  width: 100%;
  padding-top: 18%;
  
}

.front_page h1 {
  line-height: 80%;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.aboutme {
  background: url('../images/space.jpg');
  background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	height: 115vh;
  position: static;
  width: 100%;
  color: white;
  padding: 1em;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  box-sizing: border-box;
  line-height: 1.5;
  letter-spacing: 1px;
  padding-left: 15%;
  padding-right: 15%;
}

.hr {
  color: white;
  height: 5px;
  background-color: white;
  border: none;
  border-radius: 50px;
  width: 30em;
  margin: auto;
  
}


.pic_me {
  width: 400px;
  padding-top: 2em;
  padding-left: 3em;
  padding-right: 3em;
  padding-bottom: 2em;
}



.resume {
background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.1)), url('../images/grass.gif');
text-align: center;
font-size: 5 rem;
background-size: cover;
height: 100vh;
z-index: -2;
}

.resume button {
  font-size: 1em;
  border: 0;
  color: white;
  padding: .5rem 2rem;
  cursor: pointer;
  border-radius: 25px;
  position: absolute;   
  text-align: center;
  background-color: #647C90;
  transition: all .3s ease;
  z-index: 0;
}

.resume button:hover {
  background-color: #34495a
  
}

/*Projects*/

/*Course Hero*/
.ch {
  background: url('../images/ch.png');
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	height: 100vh;
  background-color: #001a96;
}

.ch-list li{
  list-style: disc;
  margin-left: 1em;
  color: pink;
}

.ch-list2 li{
  list-style: disc;
  margin-left: 4em;
}

.ch-ol li {
  list-style: numeric;
  padding-top: 0.3em;
  margin-left: 1em;
  color: pink;
}

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
.ch-middle {
  background-color: #001a96;
  padding-left: 20%;
  padding-right: 20%;
  display: inline-block; 
  text-align: left;
  font-family: 'Ubuntu', sans-serif;
}
.ch-middle h2 {
  text-decoration: underline;
  padding-top: 1em;
}

.ch-middle p{
  padding-top: 1em;
  color:  pink;
}

.video-container {
    overflow: hidden;
    position: relative;
    width:100%;
}

.video-container::after {
    padding-top: 56.25%;
    display: block;
    content: '';
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/*Vending Machine*/
.vm {
  background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.8)), url('../images/bsb3.jpg');
  background-attachment:fixed; /*parallax effect*/
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	height: 110vh;
}

/*Singify*/
.singify{
  width: 100%;
  padding-left: 20%;
  padding-right: 20%;
}

.singify img{
  display: block;
  width: 100%;
  padding-top: 5em;
}



/* mobile version */
@media(max-width:768px) {
  .hr {
  width: 15em;
  margin: auto;
  }
  
  .pic_me {
    width: 100%;
	  padding-left: 10%;
    padding-right: 10%;
    vertical-align: middle;
  }
  .aboutme {
    height: 150vh;
  }
	.hamburger {
		display: block;
    z-index: 20;
	}
	.hamburger.active .bar:nth-child(2) {
		opacity: 0;
	}
	.hamburger.active .bar:nth-child(1) {
		transform: translateY(8px) rotate(45deg);
	}
	.hamburger.active .bar:nth-child(3) {
		transform: translateY(-8px) rotate(-45deg);
	}
	.nav-menu {
		position: fixed;
		left: -100%;
		top: 70px;
		gap: 0;
		flex-direction: column;
		background-color: #262626;
		width: 100%;
		text-align: center;
		transition: 0.3s;
    padding-bottom: 100em;
	}
	.nav-item {
		margin: 16px 0;
	}
	.nav-menu.active {
		left: 0;
	}
  .resume button {
    z-index: 0;
  }
}