.about {
    margin: 0% 10%;
}

.about-container {
    margin: 0% 10%;
    border: 5px solid white;
    outline: 4px solid #E02844;
    border-radius: 1.6rem;
    background-color: grey;
}

.about-text {
    margin: 0% 5%;
    text-align: ;
}