:root {
    --primary: #E02844;
}

.btn {
    padding: 6px 18px;
    border-radius: 20px;
    outline: none;
    border: none;
    font-size: 17px;
    color: #fff;
    cursor: pointer;
    background-color: var(--primary);
    font-family: 'PT Sans';
}

.btn:hover {
    padding: 6px 18px;
    color: #fff;
    border-radius: 20px;
}