.card-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  border-radius: 15px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
  transition: transform 0.3s ease-in-out;
  overflow: hidden;
  border: 1px solid #2F4858;
  background: #466962; 
  margin: 2rem 0rem;
  width: 93%;
}

.card-container:hover {
  transform: scale(1.02);
}

.card-image-container {
  display: flex;
  align-items: center;
  overflow: hidden;
}

.card-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-content {
  padding: 1.5em;
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* changed from center to space-between */
}

.card-title {
  color: #F5F7FA;
  font-size: 1.5rem;
  margin-bottom: 0.3em; /* reduced margin */
}

.card-description {
  color: #DDE2E9;
  line-height: 1.5;
  margin-bottom: 0.8em; /* reduced margin */
}

.card-tags {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0.8em; /* reduced margin */
}

.tag {
  background-color: rgba(47, 72, 88, 0.7);
  color: #F5F7FA;
  border-radius: 50px;
  padding: 0.5em 1em;
  font-size: 0.8rem;
  margin-right: 0.5em;
  margin-bottom: 0.5em;
}

.card-buttons {
  display: flex;
  gap: 1rem;
  justify-content: flex-start; /* buttons aligned to start */
}

.card-button {
  background-color: transparent; 
  color: #F5F7FA;
  border: 2px solid #F5F7FA; 
  border-radius: 50px;
  padding: 0.75em 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  transition: all 0.3s ease;
  cursor: pointer;
}

.card-button:hover {
  color: #466962; /* change the text color to match the background */
  background-color: #F5F7FA; /* change the background color to match the previous text color */
}



/* Responsive design for screens smaller than 600px */
@media (max-width: 1300px) {
  .card-container {
    grid-template-columns: 1fr;
  }

  .card-image-container {
    height: 30vh;
  }
}
