.dropdown-menu {
    width: 200px;
    position: absolute;
    top: 70px;
    list-style: none;
    text-align: start;
    padding: 0;
    
}

.dropdown-menu li {
    background: #1888ff;
    cursor:ponter;

}

.dropdown-menu li:hover {
    background: #5cabff;
}

.dropdown-menu.clicked {
    display: none;

}

.dropdown-link {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: #fff;
    padding: 6px;

}