.content-Skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 93%;
  }
  
  .icon {
    margin: 10px;
    transition: transform 0.3s;
  }
  
  .icon:hover {
    transform: scale(1.05);
  }
  